<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98953569933-bea87u66vkngab7mk70i6c0gv1kkbpkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98953569933-bea87u66vkngab7mk70i6c0gv1kkbpkv</string>
	<key>API_KEY</key>
	<string>AIzaSyC6jIsxS-zLwF0QOY1_DPh1nfM_TUqBrbg</string>
	<key>GCM_SENDER_ID</key>
	<string>98953569933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuan.TravelXpense</string>
	<key>PROJECT_ID</key>
	<string>travelxpense-a2485</string>
	<key>STORAGE_BUCKET</key>
	<string>travelxpense-a2485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98953569933:ios:4305f32c7531036f73e4c4</string>
	<key>DATABASE_URL</key>
	<string>https://travelxpense-a2485.firebaseio.com</string>
</dict>
</plist>